<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.josun.mapper.MemberMapper">
	<select id="idCheck" resultType="int">
		select count(*) from member where id = #{id}
	</select>
	<insert id="registerMember">
		insert into member(name, id, pw, pw_hint_q, pw_hint_a, address, phone, email) values(#{name}, #{id}, #{pw}, #{pwHintQ}, #{pwHintA}, #{address}, #{phone}, #{email})
	</insert>
	
	<select id="loginAction" resultType="com.josun.dto.MemberDTO">
		select name, address, phone, email from member where id = #{id} and pw = #{pw}
	</select>
	
	<select id="findId" resultType="string">
		select id from member where name = #{name} and phone = #{phone} and email = #{email}
	</select>
	
	<select id="findPw" resultType="string">
		select pw from member where name = #{name} and id = #{id} and pw_hint_q = #{pwHintQ} and pw_hint_a = #{pwHintA}
	</select>
	
	<select id="adminMemberList" resultType="com.josun.dto.MemberDTO">
		<![CDATA[select * from (select rownum rnum, m.* from(select name, id, phone, email, address from member where ${searchKey} like #{searchValue})m) where rnum >= ${start} and rnum <= ${end}]]>
	</select>
	<select id="getDataCount" resultType="int">
		select count(*) as totalCount from member where ${searchKey} like #{searchValue}
	</select>
</mapper>

