@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

.container {padding-top: 100px;}

/*my page*/
.topArea {display: table; position: relative; width: 1400px; margin: 0 auto;}
.topArea .topInner {display: table-cell; padding: 97px 0 90px;}
.mypage h2.titDep1 {text-transform: capitalize;}
.titDep1 {font: 500 60px 'Playfair Display SC', serif; font-feature-settings: 'lnum', 'pnum';}

.pageGuide {margin-top: 18px; font-size: 20px; letter-spacing: -.01em; font-weight:300;}

.inner {position: relative; width: 1400px; margin: 0 auto; padding-bottom: 180px;}

.lnbArea {position: absolute; top: 0; left: 0; width: 300px; padding: 52px 35px 44px; background: #f9f9f9;}
.lnbArea .name {margin-bottom: 21px; font: 500 32px/1 'Noto Sans KR', sans-serif; letter-spacing: -.025em;}
.lnbArea .name *{font-weight:bold;}
.lnbArea .lnb {margin-left: 2px;}
.lnbArea .lnb li {font: 500 22px/1 'Noto Sans KR', sans-serif; letter-spacing: -.025em;}
.lnbArea .lnb li > ul {margin: 16px 0 37px;}
.lnbArea .lnb li > ul li a {font: 400 18px/38px 'Noto Sans KR', sans-serif; letter-spacing: -.01em;}

/*myContents*/
.mypage .myContents {position: relative; min-height: 450px; margin-left: 400px;}
.mypage .myContents > h3.titDep2 {line-height: 1; letter-spacing: -.01em;}

.titDep2 {font: 500 30px 'Noto Sans KR', sans-serif; margin: 90px 0 15px;}
.titDep2:first-child {margin-top: 0;}

.myContents .pageGuide {margin: -10px 0 35px; font-size: 18px;}

.tleft {text-align: left !important;}

.intList > li .tit {display: inline-block; position: relative;}
.intList > li .tit label {display: inline-block; font-size: 17px; line-height: 1; color: #333;text-transform: uppercase;}

.intList > li .essential {display: inline-block; font-size: 14px; width: 6px; height: 6px; text-indent: -9999px; overflow: hidden; position: relative; padding-right: 4px; vertical-align: 2px;}
.intList > li .essential:after {content: ''; display: inline-block; position: absolute; right: 0; top: 50%; margin-top: -4px; width: 6px; height: 6px; background: url(../../img/btn_icon/ico_essential.png) no-repeat 0 0;}

.intList > li .intWrap+.intInner {margin-top: 3px;}

.intList > li .intInner {display: inline-block; position: relative;}
.intList > li .intInner > span {position: relative; display: inline-block;}
.intList > li .intInner .alertMessage {display: none; position: absolute; top: -32px; left: 0; width: 600px; background: #fff; color: #b01414; font: 500 14px/32px 'Noto Sans KR', sans-serif; margin: 0;}

input[type=password] {height: 60px; padding: 8px 13px 8px 0; color: #000; border: solid #ccc; border-width: 0 0 1px 0; vertical-align: middle; font-size: 18px;}


.btnArea {text-align: center; margin-top: 78px;}
.btnArea button {margin: 0 10px;}
.btnL {min-width: 190px; height: 60px; padding: 0 25px; line-height: 58px; font-size: 18px; letter-spacing: -.01em;}
.btnSC {position: relative; display: inline-block; text-align: center; vertical-align: middle; box-sizing: border-box; color: #000; border: 1px solid #000; background: #fff; transition: color 0.5s ease-in-out; overflow: hidden; z-index: 1;}
